<div class="well">
  <fieldset>
    <legend>Fundraising Goal</legend>

    <label for="fundsTarget">Target Amount</label>
    <input id="fundsTarget" type="number" class="input-medium" min="0" placeholder="1000.00">

    <label for="fundsRaised">Amount Raised</label>
    <input id="fundsRaised" type="number" class="input-medium" min="0" placeholder="1000.00">
  </fieldset>
</div>
