<div class="well">
  <fieldset class="image-settings">
    <legend>Thumbnail Image</legend>

    <p>Optionally select a thumbnail image to accompany this <%= current_page.data.entity.downcase %>.</p>

    <button class="btn">Add Image</button>
  </fieldset>
</div>
