<div class="well">
  <fieldset class="parent-blog-settings">
    <legend>Parent Blog</legend>

    <p>Select the blog where this post should be published</p>

    <select id="parentBlog">
      <option>Blog Alpha</option>
      <option>Blog Bravo</option>
      <option>Blog Charlie</option>
      <option class="add-new">Add new blog...</option>
    </select>

    <div class="new-blog">
      <label for="newBlogTitle">New Blog Title</label>
      <input id="newBlogTitle" type="text" class="input-block-level">
    </div>
  </fieldset>
</div>
