<label for="summary" class="label-optional">Summary</label>
<textarea id="summary" class="input-block-level" rows="6"></textarea>
<span class="help-block">Leave this blank to use a trimmed version of the body as the summary</span>
