---
title: Stoneacre UI Mockups
---

<h1>Stoneacre UI Mockups</h1>

<p>These are updated webforms to better facilitate customer content creation on the Drupal CMS front end. Please keep in mind that the styling is less important than the layout and workflow.</p>

<div class="alert alert-info">
  This landing page after admin login should probably be some sort of useful dashboard / recent content / recent comments page.
</div>
